* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #cce2c2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

main {
  max-width: 1200px;
  width: 100%;
  padding: 20px;
}

header {
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.speaker-svg svg {
  display: none;
}

/* .speaker-svg:hover svg {
  transform: scale(1.1);
} */

.question-sec {
  margin-top: 24px;
  display: flex;
  justify-content: center;
}

.question {
  border-radius: 10px;
  background-color: rgba(245, 245, 245, 0.9);
  font-size: 16px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 20px 50px;
  font-weight: 500;
}

.question-num_p,
.timer-p {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.question-num,
.timer {
  font-size: 20px;
  font-weight: 700;
  border-radius: 6px;
  padding: 10px 15px;
  color: #fff;
}

.question-num {
  background-color: #fec33d;
}

.timer {
  margin-top: 24px;
  background-color: #02a409;
}

.choice-por {
  margin-top: 36px;
  background-color: rgba(245, 245, 245, 1);
  padding: 24px;
  border-radius: 8px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.container-inputs {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-family: Poppins;
  background-color: rgba(245, 245, 245, 0.9);
  border: 1.5px solid rgba(0, 0, 0, 0.1);
  font-weight: 600;
  border-radius: 10px;
  padding: 18px 20px;
  margin-bottom: 12px;
}

.nav {
  margin-top: 24px;
  font-size: 24px;
  display: flex;
  justify-content: flex-end;
}
.nav a {
  color: #02a409;
  text-decoration: none;
  display: none;
}
.credits {
  text-align: center;
  margin-top: 24px;
}

.container-inputs.incorrect {
  border: 2px solid rgba(255, 122, 122, 1);
}
.container-inputs.correct {
  border: 2px solid rgba(53, 189, 58, 1);
}
