*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f6f4f0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
}

main {
  margin-top: -100px;
  text-align: center;
}

.middle-text {
  margin-top: 100px;
}

.title {
  font-size: 36px;
  font-weight: 600;
  margin-left: 48px;
  margin-top: -24px;
}

.quote {
  font-size: 24px;
  font-weight: 600;
  margin-top: 48px;
  line-height: 1.5;
  text-align: center;
}

.btn-parent {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn {
  font-size: 24px;
  background-color: #35bd3a;
  border: none;
  padding: 10px 48px;
  font-family: inherit;
  font-weight: 600;
  color: #fff;
  border-radius: 2px;
  box-shadow: 7px 5px 1px #01ab08;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #2aa62e;
  box-shadow: 10px 8px 6px #019306;
  transform: scale(1.05);
  cursor: pointer;
}

.footer-text {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  color: #888;
  margin-top: 20px;
}

.parent-social {
  display: flex;
  justify-content: center;
}

.social-media {
  display: flex;
  justify-content: space-evenly;
  width: 175px;
}

.social-media img {
  width: 30px;
  margin: 15px 0;
}

.abu {
  max-width: 100vh;
  width: 90%;
  padding: 75px;
  margin: 75px auto;
}

.parent-container {
  display: flex;
  position: relative;
}

.green-arrow,
.red-arrow {
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  align-items: center;
}

.green-arrow {
  left: -50px;
}

.red-arrow {
  right: -50px;
}

.graph-container {
  width: 100%;
  height: 100%;
}

.graph-text {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.graph {
  display: flex;
  width: 100%;
  height: 100px;
  border-radius: 15px;
  background-color: #ff7a7a;
  overflow: hidden;
}

.graph .green {
  background-color: #35bd3a;
  width: 75%;
  border-radius: 10px;
}

.graph .red {
  background-color: #ff7a7a;
  width: 25%;
  border-radius: 0 10px;
}

.green-arrow-text,
.red-arrow-text {
  position: absolute;
  bottom: -30px;
  font-size: 16px;
  font-weight: 600;
  color: #333;
  text-align: center;
}

.red-arrow-text {
  left: 100%;
  transform: translateX(-50%);
}

.green-arrow-text {
  transform: translateX(-50%);
}

.footer-text-sec {
  color: #858585;
  font-size: 10px;
  text-align: center;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .title {
    font-size: 22px;
  }

  .quote {
    font-size: 20px;
  }

  .btn {
    margin-top: -6px;
    font-size: 16px;
    padding: 10px 32px;
  }

  .social-media img {
    width: 25px;
  }

  .footer-text {
    font-size: 16px;
  }

  .graph {
    height: 70px;
  }

  .green-arrow,
  .red-arrow {
    width: 2px;
    height: 2px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .green-arrow {
    left: -40px;
  }

  .red-arrow {
    margin-top: -3px;
    right: 30px;
  }

  .green-arrow-text {
    position: absolute;
    right: -50px;
    bottom: -60px;
    transform: translateX(-50%);
    font-size: 14px;
    font-weight: 600;
    color: #333;
    white-space: nowrap;
  }

  .red-arrow-text {
    position: absolute;
    right: -72px;
    bottom: -60px;
    transform: translateX(50%);
    font-size: 14px;
    font-weight: 600;
    color: #333;
    white-space: nowrap;
  }
}

@media (max-width: 500px) {

  .abu {
    width: 90%;
    padding: 0 25px;
  }

  .graph-container {
    width: 100%;
  }

  .graph-text {
    font-size: 14px;
  }

  .graph {
    width: 100%;
    height: 50px;
  }

  .green-arrow img,
  .red-arrow img {
    max-width: 50px;
  }

  .green-arrow {
    left: -20px;
  }

  .red-arrow {
    margin-top: -3px;
    right: 30px;
  }

  .green-arrow-text {
    position: absolute;
    right: -52px;
    bottom: -50px;
    transform: translateX(-50%);
    font-size: 12px;
    font-weight: 600;
    color: #333;
    white-space: nowrap;
  }

  .red-arrow-text {
    position: absolute;
    right: -45px;
    bottom: -50px;
    transform: translateX(50%);
    font-size: 12px;
    font-weight: 600;
    color: #333;
    white-space: nowrap;
  }
}