* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Poppins;
  overflow: hidden;
  min-height: 100vh;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.btn {
  font-size: 1.5rem;
  background-color: #35bd3a;
  border: none;
  padding: 14px 28px;
  font-weight: 600;
  color: #ffffff;
  border-radius: 8px;
  margin-top: 10px;
  box-shadow: 6px 6px 4px rgba(1, 171, 8, 0.5);
  cursor: pointer;
  transition: all 0.3s ease;
  max-width: 200px;
  width: 90%;
  text-align: center;
  min-height: 50px;
}

.credits {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

@media (max-width: 768px) {
  .main-page-logo img {
    width: 375px;
  }

  .btn {
    font-size: 1.2rem;
    padding: 6px 10px;
    font-weight: 600;
    color: #ffffff;
    border-radius: 8px;
    margin-top: 10px;
    box-shadow: 6px 6px 4px rgba(1, 171, 8, 0.5);
    max-width: 200px;
    width: 50%;
  }

  .credits {
    font-size: 10px;
  }
}
